.card {
	width:100px;
  height:100px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: inline-block;
  margin: 10px;
  border-radius: 15%;
}

.card-hidden {
  background-color: gray;
  background-image: linear-gradient(gray, lightgray);
  width:100px;
  height:100px;
  display: inline-block;
  margin: 10px;
  border-radius: 15%;
}
